# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node and svelte
node_modules
.svelte-kit
/web/build
dist
*.local
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
temp

# Go air
tmp

# Environment files
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
